 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ISP Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<link rel="shortcut icon" href="image/icon/favicon.ico" type="image/x-icon">
<meta name="robots" content="index, follow">
<meta http-equiv="content-language" content="en">
<meta name="keywords" content="mz,mzcreatives,creatives,template,website,onepage,webdesign,portfolio,build website,themeforest">
<meta name="description" content="Now you can buy or use template from themeforest design by mzcreatives">
<meta property="og:title" content="Printonclick.in">
<!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
	<script src="./websites/www/www/js/jquery.fancybox.js" ></script>
    xEpan-ATK-Header-End-->
</head>
<body>
<div id="1ff94d91-ca34-4cbd-ec5e-3a1f0cd452ba" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable">
</div>
  <div id="2d3d15bb-6493-4add-9d64-0b017171ac07" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" class="xepan-component xepan-page-wrapper ui-sortable" style="min-height: 200px;">{$Content}</div>


<div id="0b03a21a-cf23-4aba-f2c2-97aa61dece27" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable" scrollamount=""></div>
</body>
</html>