<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>ISP Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<link rel="shortcut icon" href="image/icon/favicon.ico" type="image/x-icon">
<meta name="robots" content="index, follow">
<meta http-equiv="content-language" content="en">
<meta name="keywords" content="mz,mzcreatives,creatives,template,website,onepage,webdesign,portfolio,build website,themeforest">
<meta name="description" content="Now you can buy or use template from themeforest design by mzcreatives">
<meta property="og:title" content="Printonclick.in">
<!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
	<script src="./websites/www/www/js/jquery.fancybox.js" ></script>
    xEpan-ATK-Header-End-->
</head>
<body>
<div id="f4c8ca84-30b1-45ff-ec83-6b6cb6fc55d2" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable" scrollamount="">
<nav id="daac6ef0-c32f-4243-ac5f-373c080640ec" style="width: auto; margin-right: auto; margin-left: auto; padding-right: 5%;" role="navigation" xepan-component="xepan/cms/Tool_BootStrapMenu" xbootmenu-align="right" class="navbar xepan-component  navbar-default" xbmenu-brand-name="ISP Manager" scrollamount=""><div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <div class="navbar-brand-wrapper navbar-brand"><a title="Brand Name" class="xepan-brand">ISP Manager</a></div>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
    <ul id="xepan-boostrap-ul" class="nav navbar-nav navbar-right">
<li><a href="?page=index">Home</a></li>
<li><a href="?page=about">About Us</a></li>
<li><a href="?page=contact">Contact Us</a></li>
</ul>
</div>
</nav>
</div>
<div id="2d3d15bb-6493-4add-9d64-0b017171ac07" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" class="xepan-component xepan-page-wrapper ui-sortable" style="min-height: 200px;">{$Content}</div>


<div id="8629a173-86ba-43fe-f19e-93ddd0978a24" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: auto; margin: 0px auto;" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable" scrollamount="">
<div text-color="ffffff" scrollamount="" id="9b3a62e5-3b13-44bf-a16c-de71003f4ba7" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style='color: rgb(255, 255, 255); background-image: url("vendor/xepan/cms/templates/xepan/tool/layouts/anothersimple.jpg");' class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable epan-sortable-extra-padding">

<div text-color="" scrollamount="" style="position: relative; display: block; margin-top: 0px; margin-bottom: 0px;" id="99069664-b54f-45b8-faa3-8f98de826df6" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" contenteditable="false">
  <hr>
  <p data-mce-style="text-align: center;" style="text-align: center;">Technology Partner <a href="http://xavoc.com">Xavoc Techoncrats Pvt. Ltd.</a></p>
</div>
</div>
</div>
</body>
</html>
